<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FaxrHospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FaxrHospital.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Faxr Hospital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отделения</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Otdelenie" asp-action="Index">Все отделения</a>
                                <a class="dropdown-item" asp-controller="Otdelenie" asp-action="Add">Добавить новое</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Доктора</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Doctor" asp-action="Index">Все доктора</a>
                                <a class="dropdown-item" asp-controller="Doctor" asp-action="Add">Добавить нового</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Пациенты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Pacient" asp-action="Index">Все пациенты</a>
                                <a class="dropdown-item" asp-controller="Pacient" asp-action="Add">Добавить нового</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Болезни</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Illnes" asp-action="Index">Все болезни</a>
                                <a class="dropdown-item" asp-controller="Illnes" asp-action="Add">Добавить новую</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Препараты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Drug" asp-action="Index">Все препараты</a>
                                <a class="dropdown-item" asp-controller="Drug" asp-action="Add">Добавить новый</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-info">
        <div class="container">
            &copy; @DateTime.Now.Year - Faxr Hospital
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
